@import '../../assets/css/variables';

.footerComponent {
    font-family: Arial, Helvetica, sans-serif;
    color: $grey;


    h4 {
        display: flex;
        flex-direction: row;
        gap: 20px;
        font-size: 1.5rem;
        margin-top: 90px;

        &::before,
        &::after {
            content: "";
            flex: 1 1;
            border-bottom: 1px solid $light-grey;
            margin: auto;
        }
    }

    section {
        margin: 0px 16px;

        .sectionTitle {
            margin: 28px 0px;
            font-size: 1rem;
            text-align: center;
            word-spacing: -1px;
        }

        form {
            display: grid;

            div {
                display: flex;
                flex-direction: column;
            }

            .submitButton {
                margin: auto;
                text-transform: initial;
            }
        }
    }
}

@media screen and (min-width: 475px) {
    .footerComponent {

        form {
            grid-template-rows: 1fr 1fr;
            grid-template-columns: 1fr 1fr;
            gap: 20px;

            .submitButton {
                grid-column: span 2;
                width: 40%;
            }
        }
    }
}
@media screen and (min-width: 475px) {
    .footerComponent {
        margin: 0px 15%;
    }
}