@import '../../../assets/css/variables';

.productComponent {
    width: 420px;
    font-family: "Helvetica", sans-serif;
    color: $grey;

    h4 {
        display: flex;
        flex-direction: row;
        gap: 20px;
        &::before,
        &::after {
            content: "";
            flex: 1 1;
            border-bottom: 1px solid $light-grey;
            margin: auto;
        }
    }

    .productContainer {
        
        .cardContainer {
            display: flex;
            gap: 20px;
            height: 129px;
            margin: 30px auto;
            width: 392px;
            flex-wrap: wrap;
            
            img {
                object-fit: contain;
                height: 129px;
                width: 169px;
                border: 1px solid $light-grey;
            }
    
            .cardContent {
                width: 200px;
    
                p {
                    margin: 0px;
                    line-height: 1;
                }
    
                :nth-child(1) {
                    font-size: 14px;
                    margin-bottom: 15px;
                }
    
                :nth-child(3) {
                    font-size: 12px;
                }
    
                :nth-child(4) {
                    font-size: 16px;
                    font-weight: bold;
                    margin: 7px 0px;
                }
    
                :nth-child(5) {
                    font-size: 12px;
                }
            }
    
            .button {
                align-self: end;
                border: 1px solid #707070;
                color: #808080;
                height: 30px;
                margin-top: 16px;
                text-transform: none;
                width: 200px;
            }
        }
    
    }

    .addButton {
        border: 1px solid #707070;
        color: #808080;
        display: block;
        margin: 50px auto 0px auto;
        text-transform: none;
        width: 260px;
    }
}

@media screen and (min-width: 1500px) {
    .productComponent {
        width: 920px;
        margin: auto;

        .productContainer {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            row-gap: 40px;
            margin-top: 50px;
            
            .cardContainer {
                margin: 0px;
                gap: 0px;
                height: 350px;
                width: 201px;

                img {
                    width: 200px;
                    height: 150px;
                    margin-bottom: 14px;
                }
            }
        }
    }
}