@import '../../../assets/css/variables';

.formComponent {
    margin: 0px 16px;
    font-family: 'Helvetica', sans-serif;
    color: $grey;

    div {

        article {
            display: flex;
            align-items: center;
            margin-bottom: 17px;

            p {
                margin: 0px;
                font-size: 1.5rem;
            }
        }

        .description {
            font-size: 0.8rem;
            margin: 17px 0px 30px 0px;
        }
    }

    form {
        display: flex;
        flex-direction: column;

        label {
            font-size: 1rem;
            margin-bottom: 7px;
        }

        .submitButton {
            font-size: 16px;
            margin-bottom: 90px;
            text-transform: none;
        }
    }
}

@media screen and (min-width: 678px) {
    .formComponent {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }
}
@media screen and (min-width: 768px) {
    .formComponent {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
        margin: 0px 15%;
    }
}